@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.maxwidth {
  max-width: 1500px;
  padding: 0 30px;
  margin: auto;
}
/* Styling Navbar*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  font-family: 'Poppins', sans-serif;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
.navbar.sticky {
  padding: 15px 0;
  background: rgb(122, 65, 175);
  opacity: 95%;
}
.navbar .maxwidth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: antiquewhite;
  font-size: 40px;
  font-weight: 500;
}
.navbar .logo a span {
  color: coral;
}
.navbar .logo a span:hover {
    color: lime;
    transition: 0.3s ease;
} 
.navbar .menu li {
 list-style: none;
 text-decoration: none;
 display: inline-block;
}
.navbar .menu li a {
  color: antiquewhite;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
}
.navbar .menu li a:hover {
    color: lime;
    transition: 0.7s ease;
}

/*menu button styling*/
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: aliceblue;
  }

/*Styling home section*/

.home {
  display: flex;
  background: url("img/banner.jpg") no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  min-height: 500px;
  font-family: 'Poppins', sans-serif;
}
.home .maxwidth {
  margin: auto 0 auto 100px;
}
.home .maxwidth .homecontent .text1 {
  font-size: 20px;
}
.home .maxwidth .homecontent .text2 {
  font-size: 70px;
  font-weight: 500;
  margin-left: 5px;
}
.home .maxwidth .homecontent .text3 {
  font-size: 30px;
  margin: 3px 0;
}
.home .maxwidth .homecontent .text3 span {
  color:   lime;
  font-weight: 500;
}

.home .homecontent a {
  display: inline-block;
  background: coral;
  color: antiquewhite;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.home .homecontent a:hover {
  color: lime;
  background: black;
  border: 1px solid lime;
}

/*section styling*/
section {
  padding: 100px 0;
}
.about {
  font-family: 'Poppins', sans-serif;
}
.about .aboutcontent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .title {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif; 
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 150px;
  height: 3px;
  background: coral;
  transform: translateX(-51%);
}
.about .title::after {
  content: "& who i am";
  position: absolute;
  bottom: -5px;
  left: 50%;
  font-size: 20px;
  color: coral;
  padding: 5px;
  background: white;
  transform: translateX(-51%);
}

.about .aboutcontent .left{
  width: 45%;
}

.about .aboutcontent .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

section .aboutcontent .right{
  width: 55%;
}

section .aboutcontent .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

section .aboutcontent .right .text span {
  color: lime;
}

section .aboutcontent .right .paragraph span {
  color: lime;
  font-weight: 600;
  font-size: 20px;
}

section .aboutcontent .right p {
  text-align: justify;
}

section .aboutcontent .right a {
  display: inline-block;
  background: coral;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 500;
  padding: 3px 30px;
  margin-top: 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

section .aboutcontent .right a:hover {
  color: lime;
  background: black;
  border: 1px solid lime;
}

/* media query */
@media (max-width: 1300px) {
  .home .maxwidth {
    margin-left: 0;
  }

}

@media (max-width: 1104px ) {
    .about .aboutcontent .left img {
      height: 350px;
      width: 300px;
    }

    .about .aboutcontent .right .text {
      font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    }
}
@media (max-width: 991px ) {
  .maxwidth {
    padding: 0 50px;
   }
}

@media (max-width: 947px ) {
    .hamburger {
      display: block;
      z-index: 999;      
    }

    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
      transition: 0.4s ease-in-out;
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
      transition: 0.4s ease-in-out;
    }
    .menu {
      position: fixed;
      left: 0;
      bottom: -100%;
      gap: 0;
      background:  coral;
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: 0.6s;
      padding-top: 300px;
    }

    .navbar .menu li {
      display: block;
      padding: 10px;
    }

    .navbar .menu li a {
      background-color: white;
      padding: 4px 10px;
      border: 2px solid black;
      border-top-left-radius: 30%;
      border-bottom-right-radius: 30%;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      color: rgb(0, 0, 0);
      font-size: 30px;
    }

    .navbar .menu li a:hover {
      background: black;
      color: white;
      margin: 0 20px 5px 0;
    }

    .navitem {
      margin: 16px 0;
    }

    .menu.active {
      bottom: 0;
    }

    .home .maxwidth .homecontent .text2 {
      font-size: 70px;
      
    }
    .home .maxwidth .homecontent .text3 {
      font-size: 35px;
     
    }
    .home .homecontent a {
      font-size: 23px;
      padding: 10px 30px;
    }
     .maxwidth {
      max-width: 800px;
    }
    .about .aboutcontent .column {
      width: 100%;
    }

    .about .aboutcontent .left {
     display: flex;
     justify-content: center;
     margin: 0 auto 60px;
    }
    .about .aboutcontent .right p {
        flex: 100%;
    }
}

@media (max-width: 690px) {
  .maxwidth {
    padding: 0 23px;
  }
  .home .maxwidth .homecontent .text2 {
    font-size: 60px;
  }
  .home .maxwidth .homecontent .text3 {
    font-size: 32px;
  }
  .home .homecontent a {
    font-size: 20px;
    padding: 9px 25px;
  } 
}

@media (max-width: 500px ) {
  .home .maxwidth .homecontent .text2 {
    font-size: 50px;
  }
  .home .maxwidth .homecontent .text3 {
    font-size: 27px;
  }
  }
    